In [4]:
import pandas as pd
import numpy as np

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
#load csv file data with headers

location = "datasets/DC_Properties.csv"
df = pd.read_csv(location)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.head()
#df.head?

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [8]:
df['BEDRM'].max()

24

In [10]:
df['BEDRM'].min()

0

In [11]:
df['BEDRM'].sum()

434351

In [12]:
df['BEDRM'].mean()

2.7325062752819944

In [13]:
df['BEDRM'].median()

3.0

In [14]:
df['BEDRM'].mode()

0    3
dtype: int64

In [15]:
df_missing.loc[missing]

NameError: name 'df_missing' is not defined

In [16]:
filename = "datasets/DC_Properties.csv"
df_missing = pd.read_csv(filename)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
df_missing.isnull().sum()

Unnamed: 0                 0
BATHRM                     0
HF_BATHRM                  0
HEAT                       0
AC                         0
NUM_UNITS              52261
ROOMS                      0
BEDRM                      0
AYB                      271
YR_RMDL                78029
EYB                        0
STORIES                52305
SALEDATE               26770
PRICE                  60741
QUALIFIED                  0
SALE_NUM                   0
GBA                    52261
BLDG_NUM                   0
STYLE                  52261
STRUCT                 52261
GRADE                  52261
CNDTN                  52261
EXTWALL                52261
ROOF                   52261
INTWALL                52261
KITCHENS               52262
FIREPLACES                 0
USECODE                    0
LANDAREA                   0
GIS_LAST_MOD_DTTM          0
SOURCE                     0
CMPLX_NUM             106696
LIVING_GBA            106696
FULLADDRESS            52917
CITY                   52906
STATE                  52906
ZIPCODE                    1
NATIONALGRID           52906
LATITUDE                   1
LONGITUDE                  1
ASSESSMENT_NBHD            1
ASSESSMENT_SUBNBHD     32551
CENSUS_TRACT               1
CENSUS_BLOCK           52906
WARD                       1
SQUARE                     0
X                        237
Y                        237
QUADRANT                 237
dtype: int64

In [22]:
df.sort_values('SQUARE') #default is ascending=True

TypeError: '<' not supported between instances of 'int' and 'str'

In [26]:
location = "datasets/DC_Properties.csv"
df = pd.read_csv(location)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:
print(df)

        Unnamed: 0  BATHRM  HF_BATHRM           HEAT AC  NUM_UNITS  ROOMS  \
0                0       4          0      Warm Cool  Y        2.0      8
1                1       3          1      Warm Cool  Y        2.0     11
2                2       3          1  Hot Water Rad  Y        2.0      9
3                3       3          1  Hot Water Rad  Y        2.0      8
4                4       2          1      Warm Cool  Y        1.0     11
5                5       3          2  Hot Water Rad  Y        1.0     10
6                6       1          0      Warm Cool  Y        2.0      5
7                7       3          1  Hot Water Rad  Y        2.0      8
8                8       3          1      Warm Cool  Y        2.0      7
9                9       1          1  Hot Water Rad  Y        1.0      6
10              10       3          0     Forced Air  N        3.0     12
11              11       5          0  Hot Water Rad  Y        3.0     16
12              12       2          0  Hot Water Rad  N        2.0      9
13              13       2          0      Warm Cool  Y        2.0     11
14              14       3          1      Warm Cool  Y        2.0      5
15              15       2          1      Warm Cool  Y        2.0      9
16              16       3          1      Warm Cool  Y        1.0      8
17              17       2          0  Hot Water Rad  N        1.0      6
18              18       3          1  Hot Water Rad  Y        2.0     10
19              19       3          1  Hot Water Rad  Y        2.0      9
20              20       3          1  Hot Water Rad  Y        1.0     14
21              21       3          0     Forced Air  Y        2.0     12
22              22       1          0     Forced Air  Y        1.0      6
23              23       2          1     Forced Air  Y        1.0      5
24              24       2          1  Hot Water Rad  Y        1.0      8
25              25       1          0  Hot Water Rad  N        1.0      8
26              26       1          0  Hot Water Rad  N        1.0     10
27              27       3          0  Hot Water Rad  Y        4.0      9
28              28       3          0      Warm Cool  Y        2.0     10
29              29       3          1     Forced Air  Y        2.0     11
...            ...     ...        ...            ... ..        ...    ...
158927      158927       2          0        Ht Pump  Y        NaN      6
158928      158928       2          1        Ht Pump  Y        NaN      5
158929      158929       2          1        Ht Pump  Y        NaN      5
158930      158930       2          0     Forced Air  N        NaN      4
158931      158931       2          1     Forced Air  N        NaN      4
158932      158932       2          1     Forced Air  N        NaN      4
158933      158933       2          0        Ht Pump  Y        NaN      4
158934      158934       1          1        Ht Pump  Y        NaN      3
158935      158935       1          0        Ht Pump  Y        NaN      3
158936      158936       1          0        Ht Pump  Y        NaN      3
158937      158937       1          0     Forced Air  Y        NaN      4
158938      158938       2          0      Warm Cool  Y        NaN      7
158939      158939       1          0     Forced Air  Y        NaN      4
158940      158940       2          0     Forced Air  Y        NaN      7
158941      158941       1          0     Forced Air  Y        NaN      4
158942      158942       2          0     Forced Air  Y        NaN      7
158943      158943       2          1     Forced Air  Y        NaN      5
158944      158944       2          1     Forced Air  Y        NaN      5
158945      158945       1          0     Forced Air  Y        NaN      3
158946      158946       1          0     Forced Air  Y        NaN      4
158947      158947       2          0     Forced Air  Y        NaN      4
158948      158948       2          0     Forced Air  Y        NaN      4
158949      158949       1          1     Forced Air  Y        NaN      4
158950      158950       3          0     Forced Air  Y        NaN      5
158951      158951       3          1     Forced Air  Y        NaN      5
158952      158952       1          0     Forced Air  Y        NaN      3
158953      158953       1          0     Forced Air  Y        NaN      4
158954      158954       2          0     Forced Air  Y        NaN      4
158955      158955       1          0      Warm Cool  Y        NaN      2
158956      158956       1          0      Warm Cool  Y        NaN      2

        BEDRM     AYB  YR_RMDL   ...     LONGITUDE       ASSESSMENT_NBHD  \
0           4  1910.0   1988.0   ...    -77.040832            Old City 2
1           5  1898.0   2007.0   ...    -77.040764            Old City 2
2           5  1910.0   2009.0   ...    -77.040678            Old City 2
3           5  1900.0   2003.0   ...    -77.040629            Old City 2
4           3  1913.0   2012.0   ...    -77.039361            Old City 2
5           5  1913.0      NaN   ...    -77.039715            Old City 2
6           2  1917.0   1988.0   ...    -77.041055            Old City 2
7           4  1906.0   2011.0   ...    -77.040129            Old City 2
8           3  1908.0   2008.0   ...    -77.039903            Old City 2
9           2  1908.0   1979.0   ...    -77.040081            Old City 2
10          5  1890.0   1950.0   ...    -77.040760            Old City 2
11          6  1905.0      NaN   ...    -77.039718            Old City 2
12          5  1894.0   1979.0   ...    -77.039569            Old City 2
13          5  1885.0   1979.0   ...    -77.039644            Old City 2
14          3  1917.0   2000.0   ...    -77.039716            Old City 2
15          4  1908.0   1990.0   ...    -77.039784            Old City 2
16          3  1908.0   2006.0   ...    -77.039844            Old City 2
17          3  1908.0   1987.0   ...    -77.039961            Old City 2
18          4  1908.0   2006.0   ...    -77.040020            Old City 2
19          3  1908.0   2013.0   ...    -77.040138            Old City 2
20          5  1880.0   2009.0   ...    -77.033774            Old City 2
21          3  1880.0   2009.0   ...    -77.033838            Old City 2
22          3  1880.0   2010.0   ...    -77.033925            Old City 2
23          3  1880.0   2010.0   ...    -77.033972            Old City 2
24          3  1880.0   2004.0   ...    -77.034070            Old City 2
25          4  1880.0   2010.0   ...    -77.034156            Old City 2
26          5  1900.0   2004.0   ...    -77.034258            Old City 2
27          3  1900.0   1963.0   ...    -77.034182            Old City 2
28          4  1900.0   1960.0   ...    -77.034119            Old City 2
29          3  1900.0   2014.0   ...    -77.034051            Old City 2
...       ...     ...      ...   ...           ...                   ...
158927      3  1993.0   1993.0   ...    -77.019274            Old City 2
158928      2  2013.0      NaN   ...    -77.019274            Old City 2
158929      2  2013.0      NaN   ...    -77.019274            Old City 2
158930      2  1900.0   2003.0   ...    -77.019243            Old City 2
158931      2  1900.0   2003.0   ...    -77.019243            Old City 2
158932      2  1900.0   2003.0   ...    -77.019243            Old City 2
158933      2  1880.0   2016.0   ...    -77.019243            Old City 2
158934      1  1880.0   2016.0   ...    -77.019243            Old City 2
158935      1  1880.0   2016.0   ...    -77.019243            Old City 2
158936      1  1880.0   2016.0   ...    -77.019243            Old City 2
158937      2  1992.0   1992.0   ...    -77.019420            Old City 2
158938      4  1992.0   1992.0   ...    -77.019420            Old City 2
158939      2  1992.0   1992.0   ...    -77.019420            Old City 2
158940      4  1992.0   1992.0   ...    -77.019420            Old City 2
158941      2  1992.0   1992.0   ...    -77.019420            Old City 2
158942      4  1992.0   1992.0   ...    -77.019420            Old City 2
158943      2  2004.0   2004.0   ...    -77.019420            Old City 2
158944      2  2004.0   2004.0   ...    -77.019420            Old City 2
158945      1  1938.0   2006.0   ...    -77.019420            Old City 2
158946      2  1938.0   2006.0   ...    -77.019420            Old City 2
158947      2  1938.0   2006.0   ...    -77.019420            Old City 2
158948      2  1938.0   2006.0   ...    -77.019420            Old City 2
158949      1  1938.0   2006.0   ...    -77.019420            Old City 2
158950      3  1938.0   2006.0   ...    -77.019420            Old City 2
158951      3  1938.0   2006.0   ...    -77.019420            Old City 2
158952      1  1938.0   2006.0   ...    -77.019420            Old City 2
158953      2  1938.0   2006.0   ...    -77.019420            Old City 2
158954      2  1920.0   2007.0   ...    -77.019420            Old City 2
158955      0  1965.0      NaN   ...    -77.018230  Southwest Waterfront
158956      0  1965.0      NaN   ...    -77.018230  Southwest Waterfront

       ASSESSMENT_SUBNBHD  CENSUS_TRACT CENSUS_BLOCK    WARD  SQUARE  \
0        040 D Old City 2        4201.0  004201 2006  Ward 2     152
1        040 D Old City 2        4201.0  004201 2006  Ward 2     152
2        040 D Old City 2        4201.0  004201 2006  Ward 2     152
3        040 D Old City 2        4201.0  004201 2006  Ward 2     152
4        040 D Old City 2        4201.0  004201 2006  Ward 2     152
5        040 D Old City 2        4201.0  004201 2006  Ward 2     152
6        040 D Old City 2        4201.0  004201 2005  Ward 2     152
7        040 D Old City 2        4201.0  004201 2005  Ward 2     152
8        040 D Old City 2        4201.0  004201 2005  Ward 2     152
9        040 D Old City 2        4201.0  004201 2005  Ward 2     152
10       040 D Old City 2        4201.0  004201 2005  Ward 2     152
11       040 D Old City 2        4201.0  004201 2005  Ward 2     152
12       040 D Old City 2        4201.0  004201 2005  Ward 2     152
13       040 D Old City 2        4201.0  004201 2005  Ward 2     152
14       040 D Old City 2        4201.0  004201 2005  Ward 2     152
15       040 D Old City 2        4201.0  004201 2005  Ward 2     152
16       040 D Old City 2        4201.0  004201 2005  Ward 2     152
17       040 D Old City 2        4201.0  004201 2005  Ward 2     152
18       040 D Old City 2        4201.0  004201 2005  Ward 2     152
19       040 D Old City 2        4201.0  004201 2005  Ward 2     152
20       040 E Old City 2        5201.0  005201 4003  Ward 2     208
21       040 E Old City 2        5201.0  005201 4003  Ward 2     208
22       040 E Old City 2        5201.0  005201 4003  Ward 2     208
23       040 E Old City 2        5201.0  005201 4003  Ward 2     208
24       040 E Old City 2        5201.0  005201 4003  Ward 2     208
25       040 E Old City 2        5201.0  005201 4003  Ward 2     208
26       040 E Old City 2        5201.0  005201 4003  Ward 2     208
27       040 E Old City 2        5201.0  005201 4003  Ward 2     208
28       040 E Old City 2        5201.0  005201 4003  Ward 2     208
29       040 E Old City 2        5201.0  005201 4003  Ward 2     208
...                   ...           ...          ...     ...     ...
158927   040 G Old City 2        4801.0          NaN  Ward 6     475
158928   040 G Old City 2        4801.0          NaN  Ward 6     475
158929   040 G Old City 2        4801.0          NaN  Ward 6     475
158930   040 B Old City 2        4801.0          NaN  Ward 6     476
158931   040 B Old City 2        4801.0          NaN  Ward 6     476
158932   040 B Old City 2        4801.0          NaN  Ward 6     476
158933   040 B Old City 2        4801.0          NaN  Ward 6     476
158934   040 B Old City 2        4801.0          NaN  Ward 6     476
158935   040 B Old City 2        4801.0          NaN  Ward 6     476
158936   040 B Old City 2        4801.0          NaN  Ward 6     476
158937   040 B Old City 2        4801.0          NaN  Ward 6     477
158938   040 B Old City 2        4801.0          NaN  Ward 6     477
158939   040 B Old City 2        4801.0          NaN  Ward 6     477
158940   040 B Old City 2        4801.0          NaN  Ward 6     477
158941   040 B Old City 2        4801.0          NaN  Ward 6     477
158942   040 B Old City 2        4801.0          NaN  Ward 6     477
158943   040 B Old City 2        4801.0          NaN  Ward 6     477
158944   040 B Old City 2        4801.0          NaN  Ward 6     477
158945   040 B Old City 2        4801.0          NaN  Ward 6     477
158946   040 B Old City 2        4801.0          NaN  Ward 6     477
158947   040 B Old City 2        4801.0          NaN  Ward 6     477
158948   040 B Old City 2        4801.0          NaN  Ward 6     477
158949   040 B Old City 2        4801.0          NaN  Ward 6     477
158950   040 B Old City 2        4801.0          NaN  Ward 6     477
158951   040 B Old City 2        4801.0          NaN  Ward 6     477
158952   040 B Old City 2        4801.0          NaN  Ward 6     477
158953   040 B Old City 2        4801.0          NaN  Ward 6     477
158954   040 B Old City 2        4801.0          NaN  Ward 6     477
158955                NaN       11000.0          NaN  Ward 6     504
158956                NaN       11000.0          NaN  Ward 6     504

                X          Y QUADRANT
0      -77.040429  38.914881       NW
1      -77.040429  38.914881       NW
2      -77.040429  38.914881       NW
3      -77.040429  38.914881       NW
4      -77.040429  38.914881       NW
5      -77.040429  38.914881       NW
6      -77.040429  38.914881       NW
7      -77.040429  38.914881       NW
8      -77.040429  38.914881       NW
9      -77.040429  38.914881       NW
10     -77.040429  38.914881       NW
11     -77.040429  38.914881       NW
12     -77.040429  38.914881       NW
13     -77.040429  38.914881       NW
14     -77.040429  38.914881       NW
15     -77.040429  38.914881       NW
16     -77.040429  38.914881       NW
17     -77.040429  38.914881       NW
18     -77.040429  38.914881       NW
19     -77.040429  38.914881       NW
20     -77.033366  38.911716       NW
21     -77.033366  38.911716       NW
22     -77.033366  38.911716       NW
23     -77.033366  38.911716       NW
24     -77.033366  38.911716       NW
25     -77.033366  38.911716       NW
26     -77.033366  38.911716       NW
27     -77.033366  38.911716       NW
28     -77.033366  38.911716       NW
29     -77.033366  38.911716       NW
...           ...        ...      ...
158927 -77.019277  38.914287       NW
158928 -77.019277  38.914287       NW
158929 -77.019277  38.914287       NW
158930 -77.019245  38.912954       NW
158931 -77.019245  38.912954       NW
158932 -77.019245  38.912954       NW
158933 -77.019245  38.912954       NW
158934 -77.019245  38.912954       NW
158935 -77.019245  38.912954       NW
158936 -77.019245  38.912954       NW
158937 -77.019422  38.911848       NW
158938 -77.019422  38.911848       NW
158939 -77.019422  38.911848       NW
158940 -77.019422  38.911848       NW
158941 -77.019422  38.911848       NW
158942 -77.019422  38.911848       NW
158943 -77.019422  38.911848       NW
158944 -77.019422  38.911848       NW
158945 -77.019422  38.911848       NW
158946 -77.019422  38.911848       NW
158947 -77.019422  38.911848       NW
158948 -77.019422  38.911848       NW
158949 -77.019422  38.911848       NW
158950 -77.019422  38.911848       NW
158951 -77.019422  38.911848       NW
158952 -77.019422  38.911848       NW
158953 -77.019422  38.911848       NW
158954 -77.019422  38.911848       NW
158955 -77.018232  38.872961       SW
158956 -77.018232  38.872961       SW

[158957 rows x 49 columns]

In [33]:
df.columns

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [29]:
df.count()

Unnamed: 0            158957
BATHRM                158957
HF_BATHRM             158957
HEAT                  158957
AC                    158957
NUM_UNITS             106696
ROOMS                 158957
BEDRM                 158957
AYB                   158686
YR_RMDL                80928
EYB                   158957
STORIES               106652
SALEDATE              132187
PRICE                  98216
QUALIFIED             158957
SALE_NUM              158957
GBA                   106696
BLDG_NUM              158957
STYLE                 106696
STRUCT                106696
GRADE                 106696
CNDTN                 106696
EXTWALL               106696
ROOF                  106696
INTWALL               106696
KITCHENS              106695
FIREPLACES            158957
USECODE               158957
LANDAREA              158957
GIS_LAST_MOD_DTTM     158957
SOURCE                158957
CMPLX_NUM              52261
LIVING_GBA             52261
FULLADDRESS           106040
CITY                  106051
STATE                 106051
ZIPCODE               158956
NATIONALGRID          106051
LATITUDE              158956
LONGITUDE             158956
ASSESSMENT_NBHD       158956
ASSESSMENT_SUBNBHD    126406
CENSUS_TRACT          158956
CENSUS_BLOCK          106051
WARD                  158956
SQUARE                158957
X                     158720
Y                     158720
QUADRANT              158720
dtype: int64

In [30]:
dupe = df.duplicated()

In [41]:
df[dupe]

Empty DataFrame
Columns: [Unnamed: 0, BATHRM, HF_BATHRM, HEAT, AC, NUM_UNITS, ROOMS, BEDRM, AYB, YR_RMDL, EYB, STORIES, SALEDATE, PRICE, QUALIFIED, SALE_NUM, GBA, BLDG_NUM, STYLE, STRUCT, GRADE, CNDTN, EXTWALL, ROOF, INTWALL, KITCHENS, FIREPLACES, USECODE, LANDAREA, GIS_LAST_MOD_DTTM, SOURCE, CMPLX_NUM, LIVING_GBA, FULLADDRESS, CITY, STATE, ZIPCODE, NATIONALGRID, LATITUDE, LONGITUDE, ASSESSMENT_NBHD, ASSESSMENT_SUBNBHD, CENSUS_TRACT, CENSUS_BLOCK, WARD, SQUARE, X, Y, QUADRANT]
Index: []

[0 rows x 49 columns]

In [36]:
df['PRICE'].groupby(df['WARD']).mean()

WARD
Ward 1    5.738363e+05
Ward 2    1.098570e+06
Ward 3    3.077716e+06
Ward 4    4.899224e+05
Ward 5    3.952432e+05
Ward 6    5.268684e+05
Ward 7    2.339222e+05
Ward 8    2.715224e+05
Name: PRICE, dtype: float64

In [35]:
df.head

<bound method NDFrame.head of         Unnamed: 0  BATHRM  HF_BATHRM           HEAT AC  NUM_UNITS  ROOMS  \
0                0       4          0      Warm Cool  Y        2.0      8
1                1       3          1      Warm Cool  Y        2.0     11
2                2       3          1  Hot Water Rad  Y        2.0      9
3                3       3          1  Hot Water Rad  Y        2.0      8
4                4       2          1      Warm Cool  Y        1.0     11
5                5       3          2  Hot Water Rad  Y        1.0     10
6                6       1          0      Warm Cool  Y        2.0      5
7                7       3          1  Hot Water Rad  Y        2.0      8
8                8       3          1      Warm Cool  Y        2.0      7
9                9       1          1  Hot Water Rad  Y        1.0      6
10              10       3          0     Forced Air  N        3.0     12
11              11       5          0  Hot Water Rad  Y        3.0     16
12              12       2          0  Hot Water Rad  N        2.0      9
13              13       2          0      Warm Cool  Y        2.0     11
14              14       3          1      Warm Cool  Y        2.0      5
15              15       2          1      Warm Cool  Y        2.0      9
16              16       3          1      Warm Cool  Y        1.0      8
17              17       2          0  Hot Water Rad  N        1.0      6
18              18       3          1  Hot Water Rad  Y        2.0     10
19              19       3          1  Hot Water Rad  Y        2.0      9
20              20       3          1  Hot Water Rad  Y        1.0     14
21              21       3          0     Forced Air  Y        2.0     12
22              22       1          0     Forced Air  Y        1.0      6
23              23       2          1     Forced Air  Y        1.0      5
24              24       2          1  Hot Water Rad  Y        1.0      8
25              25       1          0  Hot Water Rad  N        1.0      8
26              26       1          0  Hot Water Rad  N        1.0     10
27              27       3          0  Hot Water Rad  Y        4.0      9
28              28       3          0      Warm Cool  Y        2.0     10
29              29       3          1     Forced Air  Y        2.0     11
...            ...     ...        ...            ... ..        ...    ...
158927      158927       2          0        Ht Pump  Y        NaN      6
158928      158928       2          1        Ht Pump  Y        NaN      5
158929      158929       2          1        Ht Pump  Y        NaN      5
158930      158930       2          0     Forced Air  N        NaN      4
158931      158931       2          1     Forced Air  N        NaN      4
158932      158932       2          1     Forced Air  N        NaN      4
158933      158933       2          0        Ht Pump  Y        NaN      4
158934      158934       1          1        Ht Pump  Y        NaN      3
158935      158935       1          0        Ht Pump  Y        NaN      3
158936      158936       1          0        Ht Pump  Y        NaN      3
158937      158937       1          0     Forced Air  Y        NaN      4
158938      158938       2          0      Warm Cool  Y        NaN      7
158939      158939       1          0     Forced Air  Y        NaN      4
158940      158940       2          0     Forced Air  Y        NaN      7
158941      158941       1          0     Forced Air  Y        NaN      4
158942      158942       2          0     Forced Air  Y        NaN      7
158943      158943       2          1     Forced Air  Y        NaN      5
158944      158944       2          1     Forced Air  Y        NaN      5
158945      158945       1          0     Forced Air  Y        NaN      3
158946      158946       1          0     Forced Air  Y        NaN      4
158947      158947       2          0     Forced Air  Y        NaN      4
158948      158948       2          0     Forced Air  Y        NaN      4
158949      158949       1          1     Forced Air  Y        NaN      4
158950      158950       3          0     Forced Air  Y        NaN      5
158951      158951       3          1     Forced Air  Y        NaN      5
158952      158952       1          0     Forced Air  Y        NaN      3
158953      158953       1          0     Forced Air  Y        NaN      4
158954      158954       2          0     Forced Air  Y        NaN      4
158955      158955       1          0      Warm Cool  Y        NaN      2
158956      158956       1          0      Warm Cool  Y        NaN      2

        BEDRM     AYB  YR_RMDL   ...     LONGITUDE       ASSESSMENT_NBHD  \
0           4  1910.0   1988.0   ...    -77.040832            Old City 2
1           5  1898.0   2007.0   ...    -77.040764            Old City 2
2           5  1910.0   2009.0   ...    -77.040678            Old City 2
3           5  1900.0   2003.0   ...    -77.040629            Old City 2
4           3  1913.0   2012.0   ...    -77.039361            Old City 2
5           5  1913.0      NaN   ...    -77.039715            Old City 2
6           2  1917.0   1988.0   ...    -77.041055            Old City 2
7           4  1906.0   2011.0   ...    -77.040129            Old City 2
8           3  1908.0   2008.0   ...    -77.039903            Old City 2
9           2  1908.0   1979.0   ...    -77.040081            Old City 2
10          5  1890.0   1950.0   ...    -77.040760            Old City 2
11          6  1905.0      NaN   ...    -77.039718            Old City 2
12          5  1894.0   1979.0   ...    -77.039569            Old City 2
13          5  1885.0   1979.0   ...    -77.039644            Old City 2
14          3  1917.0   2000.0   ...    -77.039716            Old City 2
15          4  1908.0   1990.0   ...    -77.039784            Old City 2
16          3  1908.0   2006.0   ...    -77.039844            Old City 2
17          3  1908.0   1987.0   ...    -77.039961            Old City 2
18          4  1908.0   2006.0   ...    -77.040020            Old City 2
19          3  1908.0   2013.0   ...    -77.040138            Old City 2
20          5  1880.0   2009.0   ...    -77.033774            Old City 2
21          3  1880.0   2009.0   ...    -77.033838            Old City 2
22          3  1880.0   2010.0   ...    -77.033925            Old City 2
23          3  1880.0   2010.0   ...    -77.033972            Old City 2
24          3  1880.0   2004.0   ...    -77.034070            Old City 2
25          4  1880.0   2010.0   ...    -77.034156            Old City 2
26          5  1900.0   2004.0   ...    -77.034258            Old City 2
27          3  1900.0   1963.0   ...    -77.034182            Old City 2
28          4  1900.0   1960.0   ...    -77.034119            Old City 2
29          3  1900.0   2014.0   ...    -77.034051            Old City 2
...       ...     ...      ...   ...           ...                   ...
158927      3  1993.0   1993.0   ...    -77.019274            Old City 2
158928      2  2013.0      NaN   ...    -77.019274            Old City 2
158929      2  2013.0      NaN   ...    -77.019274            Old City 2
158930      2  1900.0   2003.0   ...    -77.019243            Old City 2
158931      2  1900.0   2003.0   ...    -77.019243            Old City 2
158932      2  1900.0   2003.0   ...    -77.019243            Old City 2
158933      2  1880.0   2016.0   ...    -77.019243            Old City 2
158934      1  1880.0   2016.0   ...    -77.019243            Old City 2
158935      1  1880.0   2016.0   ...    -77.019243            Old City 2
158936      1  1880.0   2016.0   ...    -77.019243            Old City 2
158937      2  1992.0   1992.0   ...    -77.019420            Old City 2
158938      4  1992.0   1992.0   ...    -77.019420            Old City 2
158939      2  1992.0   1992.0   ...    -77.019420            Old City 2
158940      4  1992.0   1992.0   ...    -77.019420            Old City 2
158941      2  1992.0   1992.0   ...    -77.019420            Old City 2
158942      4  1992.0   1992.0   ...    -77.019420            Old City 2
158943      2  2004.0   2004.0   ...    -77.019420            Old City 2
158944      2  2004.0   2004.0   ...    -77.019420            Old City 2
158945      1  1938.0   2006.0   ...    -77.019420            Old City 2
158946      2  1938.0   2006.0   ...    -77.019420            Old City 2
158947      2  1938.0   2006.0   ...    -77.019420            Old City 2
158948      2  1938.0   2006.0   ...    -77.019420            Old City 2
158949      1  1938.0   2006.0   ...    -77.019420            Old City 2
158950      3  1938.0   2006.0   ...    -77.019420            Old City 2
158951      3  1938.0   2006.0   ...    -77.019420            Old City 2
158952      1  1938.0   2006.0   ...    -77.019420            Old City 2
158953      2  1938.0   2006.0   ...    -77.019420            Old City 2
158954      2  1920.0   2007.0   ...    -77.019420            Old City 2
158955      0  1965.0      NaN   ...    -77.018230  Southwest Waterfront
158956      0  1965.0      NaN   ...    -77.018230  Southwest Waterfront

       ASSESSMENT_SUBNBHD  CENSUS_TRACT CENSUS_BLOCK    WARD  SQUARE  \
0        040 D Old City 2        4201.0  004201 2006  Ward 2     152
1        040 D Old City 2        4201.0  004201 2006  Ward 2     152
2        040 D Old City 2        4201.0  004201 2006  Ward 2     152
3        040 D Old City 2        4201.0  004201 2006  Ward 2     152
4        040 D Old City 2        4201.0  004201 2006  Ward 2     152
5        040 D Old City 2        4201.0  004201 2006  Ward 2     152
6        040 D Old City 2        4201.0  004201 2005  Ward 2     152
7        040 D Old City 2        4201.0  004201 2005  Ward 2     152
8        040 D Old City 2        4201.0  004201 2005  Ward 2     152
9        040 D Old City 2        4201.0  004201 2005  Ward 2     152
10       040 D Old City 2        4201.0  004201 2005  Ward 2     152
11       040 D Old City 2        4201.0  004201 2005  Ward 2     152
12       040 D Old City 2        4201.0  004201 2005  Ward 2     152
13       040 D Old City 2        4201.0  004201 2005  Ward 2     152
14       040 D Old City 2        4201.0  004201 2005  Ward 2     152
15       040 D Old City 2        4201.0  004201 2005  Ward 2     152
16       040 D Old City 2        4201.0  004201 2005  Ward 2     152
17       040 D Old City 2        4201.0  004201 2005  Ward 2     152
18       040 D Old City 2        4201.0  004201 2005  Ward 2     152
19       040 D Old City 2        4201.0  004201 2005  Ward 2     152
20       040 E Old City 2        5201.0  005201 4003  Ward 2     208
21       040 E Old City 2        5201.0  005201 4003  Ward 2     208
22       040 E Old City 2        5201.0  005201 4003  Ward 2     208
23       040 E Old City 2        5201.0  005201 4003  Ward 2     208
24       040 E Old City 2        5201.0  005201 4003  Ward 2     208
25       040 E Old City 2        5201.0  005201 4003  Ward 2     208
26       040 E Old City 2        5201.0  005201 4003  Ward 2     208
27       040 E Old City 2        5201.0  005201 4003  Ward 2     208
28       040 E Old City 2        5201.0  005201 4003  Ward 2     208
29       040 E Old City 2        5201.0  005201 4003  Ward 2     208
...                   ...           ...          ...     ...     ...
158927   040 G Old City 2        4801.0          NaN  Ward 6     475
158928   040 G Old City 2        4801.0          NaN  Ward 6     475
158929   040 G Old City 2        4801.0          NaN  Ward 6     475
158930   040 B Old City 2        4801.0          NaN  Ward 6     476
158931   040 B Old City 2        4801.0          NaN  Ward 6     476
158932   040 B Old City 2        4801.0          NaN  Ward 6     476
158933   040 B Old City 2        4801.0          NaN  Ward 6     476
158934   040 B Old City 2        4801.0          NaN  Ward 6     476
158935   040 B Old City 2        4801.0          NaN  Ward 6     476
158936   040 B Old City 2        4801.0          NaN  Ward 6     476
158937   040 B Old City 2        4801.0          NaN  Ward 6     477
158938   040 B Old City 2        4801.0          NaN  Ward 6     477
158939   040 B Old City 2        4801.0          NaN  Ward 6     477
158940   040 B Old City 2        4801.0          NaN  Ward 6     477
158941   040 B Old City 2        4801.0          NaN  Ward 6     477
158942   040 B Old City 2        4801.0          NaN  Ward 6     477
158943   040 B Old City 2        4801.0          NaN  Ward 6     477
158944   040 B Old City 2        4801.0          NaN  Ward 6     477
158945   040 B Old City 2        4801.0          NaN  Ward 6     477
158946   040 B Old City 2        4801.0          NaN  Ward 6     477
158947   040 B Old City 2        4801.0          NaN  Ward 6     477
158948   040 B Old City 2        4801.0          NaN  Ward 6     477
158949   040 B Old City 2        4801.0          NaN  Ward 6     477
158950   040 B Old City 2        4801.0          NaN  Ward 6     477
158951   040 B Old City 2        4801.0          NaN  Ward 6     477
158952   040 B Old City 2        4801.0          NaN  Ward 6     477
158953   040 B Old City 2        4801.0          NaN  Ward 6     477
158954   040 B Old City 2        4801.0          NaN  Ward 6     477
158955                NaN       11000.0          NaN  Ward 6     504
158956                NaN       11000.0          NaN  Ward 6     504

                X          Y QUADRANT
0      -77.040429  38.914881       NW
1      -77.040429  38.914881       NW
2      -77.040429  38.914881       NW
3      -77.040429  38.914881       NW
4      -77.040429  38.914881       NW
5      -77.040429  38.914881       NW
6      -77.040429  38.914881       NW
7      -77.040429  38.914881       NW
8      -77.040429  38.914881       NW
9      -77.040429  38.914881       NW
10     -77.040429  38.914881       NW
11     -77.040429  38.914881       NW
12     -77.040429  38.914881       NW
13     -77.040429  38.914881       NW
14     -77.040429  38.914881       NW
15     -77.040429  38.914881       NW
16     -77.040429  38.914881       NW
17     -77.040429  38.914881       NW
18     -77.040429  38.914881       NW
19     -77.040429  38.914881       NW
20     -77.033366  38.911716       NW
21     -77.033366  38.911716       NW
22     -77.033366  38.911716       NW
23     -77.033366  38.911716       NW
24     -77.033366  38.911716       NW
25     -77.033366  38.911716       NW
26     -77.033366  38.911716       NW
27     -77.033366  38.911716       NW
28     -77.033366  38.911716       NW
29     -77.033366  38.911716       NW
...           ...        ...      ...
158927 -77.019277  38.914287       NW
158928 -77.019277  38.914287       NW
158929 -77.019277  38.914287       NW
158930 -77.019245  38.912954       NW
158931 -77.019245  38.912954       NW
158932 -77.019245  38.912954       NW
158933 -77.019245  38.912954       NW
158934 -77.019245  38.912954       NW
158935 -77.019245  38.912954       NW
158936 -77.019245  38.912954       NW
158937 -77.019422  38.911848       NW
158938 -77.019422  38.911848       NW
158939 -77.019422  38.911848       NW
158940 -77.019422  38.911848       NW
158941 -77.019422  38.911848       NW
158942 -77.019422  38.911848       NW
158943 -77.019422  38.911848       NW
158944 -77.019422  38.911848       NW
158945 -77.019422  38.911848       NW
158946 -77.019422  38.911848       NW
158947 -77.019422  38.911848       NW
158948 -77.019422  38.911848       NW
158949 -77.019422  38.911848       NW
158950 -77.019422  38.911848       NW
158951 -77.019422  38.911848       NW
158952 -77.019422  38.911848       NW
158953 -77.019422  38.911848       NW
158954 -77.019422  38.911848       NW
158955 -77.018232  38.872961       SW
158956 -77.018232  38.872961       SW

[158957 rows x 49 columns]>

In [66]:
df['ROOMS'].groupby(df['WARD']).mean()

WARD
Ward 1    5.558350
Ward 2    4.757568
Ward 3    6.638804
Ward 4    7.221512
Ward 5    6.631865
Ward 6    5.943520
Ward 7    6.333895
Ward 8    6.453695
Name: ROOMS, dtype: float64

In [67]:
df.groupby(['PRICE', 'WARD']).mean()

                       Unnamed: 0     BATHRM  HF_BATHRM  NUM_UNITS      ROOMS  \
PRICE       WARD
1.0         Ward 3  142476.000000   2.000000   0.000000        NaN   5.000000
            Ward 5   81694.000000   1.000000   1.000000   1.000000   7.000000
            Ward 6  148694.000000   1.000000   0.000000        NaN   3.000000
            Ward 8  106683.000000   3.000000   0.000000   3.000000  14.000000
10.0        Ward 1   51658.000000   1.000000   0.000000   1.000000   6.000000
            Ward 2   18568.000000   2.000000   1.000000   2.000000   8.000000
            Ward 5   74419.000000   2.000000   0.000000   1.000000   8.000000
            Ward 7   81594.000000   1.000000   0.000000   1.000000   5.000000
250.0       Ward 1   46505.600000   2.200000   0.200000   1.600000   7.600000
            Ward 4   50971.000000   1.000000   0.000000   1.000000   6.000000
            Ward 5   54978.500000   4.000000   1.000000   1.500000   9.500000
            Ward 6   35200.666667   2.333333   0.333333   1.666667   8.000000
            Ward 7   93857.000000   1.000000   0.000000   1.000000   6.500000
            Ward 8  102782.000000   1.000000   0.000000   1.000000   5.000000
500.0       Ward 1   51849.500000   3.000000   0.000000   2.000000   7.000000
            Ward 5   60597.000000   2.000000   1.000000   2.000000   8.000000
            Ward 6    5516.000000   2.000000   1.000000   2.000000  15.000000
936.0       Ward 6    3330.000000   2.000000   1.000000   1.000000   9.000000
1000.0      Ward 3  140290.000000   1.000000   0.000000        NaN   2.500000
            Ward 5   69264.000000   1.000000   1.000000   1.000000   6.000000
            Ward 7   89674.000000   1.000000   0.000000   1.000000   6.000000
            Ward 8  100485.000000   4.000000   0.000000   4.000000  16.000000
1377.0      Ward 1    4199.000000   1.000000   1.000000   1.000000   6.000000
2000.0      Ward 2  120238.000000   1.000000   0.000000        NaN   1.000000
            Ward 7   96378.000000   1.000000   0.000000   1.000000   8.000000
3000.0      Ward 4  141464.000000   2.000000   0.000000        NaN   4.000000
            Ward 7   87966.000000   2.000000   1.000000   1.000000   9.000000
3270.0      Ward 2  119574.000000   1.000000   0.000000        NaN   3.000000
3523.0      Ward 8  107614.000000   1.000000   0.000000        NaN   3.000000
3997.0      Ward 7   95175.000000   1.000000   0.000000   1.000000   6.000000
...                           ...        ...        ...        ...        ...
8000000.0   Ward 2  112568.000000   6.000000   1.000000        NaN  12.000000
8100000.0   Ward 2   37153.000000   8.000000   1.000000   1.000000  13.000000
8243685.0   Ward 3  129277.000000   1.000000   0.000000        NaN   3.000000
8375000.0   Ward 3   37088.000000   6.000000   2.000000   1.000000  15.000000
8400000.0   Ward 3  153487.000000   3.000000   1.000000        NaN   8.000000
8450000.0   Ward 2   21271.500000   8.500000   3.000000   1.000000  18.500000
8500000.0   Ward 2   22450.000000   8.000000   2.000000   1.000000  16.000000
8600000.0   Ward 2   22341.000000   7.000000   2.000000   1.000000  16.000000
9000000.0   Ward 2   37604.000000   7.000000   1.000000   1.000000  15.000000
9100000.0   Ward 3   36564.000000   9.000000   2.000000   1.000000  17.000000
10400000.0  Ward 3   38709.000000   5.000000   2.000000   1.000000  18.000000
10750000.0  Ward 3   38250.000000   7.000000   3.000000   1.000000  13.000000
11000000.0  Ward 6    3303.000000   0.000000   0.000000   1.000000   0.000000
            Ward 7   90981.500000   4.000000   0.000000   4.000000  16.000000
11111111.0  Ward 2   20936.000000   8.000000   2.000000   1.000000  14.000000
11984000.0  Ward 2    2149.000000   6.000000   2.000000   1.000000  18.000000
12250000.0  Ward 3   36674.000000  12.000000   3.000000   1.000000  19.000000
12780000.0  Ward 1  141973.428571   1.015873   0.000000        NaN   3.015873
14000000.0  Ward 3   37131.000000   5.000000   1.000000   1.000000  13.000000
14157126.0  Ward 2  130619.500000   2.000000   0.500000        NaN   4.500000
15000000.0  Ward 3   37118.000000  11.000000   1.000000   1.000000  26.000000
16100000.0  Ward 2   21880.000000   9.000000   4.000000   1.000000  19.000000
18000000.0  Ward 3   34527.000000   9.000000   5.000000   2.000000  25.000000
22000000.0  Ward 2   20685.000000   6.000000   5.000000   1.000000  17.000000
23960287.0  Ward 2   20164.000000   7.000000   3.000000   2.000000  31.000000
25000000.0  Ward 8  104206.000000   0.000000   0.000000   0.000000   0.000000
25100000.0  Ward 8   97155.000000   4.000000   0.000000   0.000000   5.000000
53696391.0  Ward 2  132028.000000   1.000000   0.000000        NaN   3.000000
53969391.0  Ward 2  133990.898305   1.186441   0.000000        NaN   3.050847
137427545.0 Ward 3  128361.380165   1.111570   0.123967        NaN   3.041322

                        BEDRM          AYB      YR_RMDL          EYB  STORIES  \
PRICE       WARD
1.0         Ward 3   2.500000  1938.000000  2000.000000  1928.000000      NaN
            Ward 5   3.000000  1929.000000  1970.000000  1947.000000    2.000
            Ward 6   1.000000  2007.000000          NaN  2007.000000      NaN
            Ward 8   6.000000  1953.000000  1999.000000  1971.000000    3.000
10.0        Ward 1   3.000000  1912.000000          NaN  1954.000000    2.000
            Ward 2   3.000000  1890.000000  2009.000000  1976.000000    2.000
            Ward 5   3.000000  1927.000000          NaN  1950.000000    2.000
            Ward 7   2.000000  1942.000000          NaN  1964.000000    2.000
250.0       Ward 1   3.600000  1909.200000  1997.666667  1961.000000    2.600
            Ward 4   3.000000  1927.000000          NaN  1950.000000    2.000
            Ward 5   5.500000  1907.500000  2007.500000  1969.000000    2.500
            Ward 6   3.000000  1906.333333  1999.000000  1958.333333    2.000
            Ward 7   3.000000  1945.000000          NaN  1957.000000    2.000
            Ward 8   2.000000  1905.000000  2003.000000  1954.000000    2.000
500.0       Ward 1   3.000000  1900.000000  2001.000000  1961.500000    2.500
            Ward 5   4.000000  1909.000000          NaN  1960.000000    2.000
            Ward 6   7.000000  1916.000000          NaN  1957.000000    3.000
936.0       Ward 6   4.000000  1900.000000  1996.000000  1969.000000    2.000
1000.0      Ward 3   0.500000  1953.000000  1994.500000  1953.000000      NaN
            Ward 5   3.000000  1925.000000          NaN  1954.000000    2.000
            Ward 7   3.000000  1911.000000          NaN  1954.000000    2.000
            Ward 8   4.000000  1937.000000  2005.000000  1954.000000    2.000
1377.0      Ward 1   3.000000  1900.000000  2004.000000  1960.000000    2.000
2000.0      Ward 2   0.000000  1900.000000  2006.000000  1919.000000      NaN
            Ward 7   3.000000  1928.000000          NaN  1957.000000    2.000
3000.0      Ward 4   2.000000  2006.000000          NaN  2006.000000      NaN
            Ward 7   3.000000  1993.000000          NaN  2000.000000    1.000
3270.0      Ward 2   1.000000  1950.000000  1980.000000  1950.000000      NaN
3523.0      Ward 8   1.000000  1949.000000  1982.000000  1949.000000      NaN
3997.0      Ward 7   3.000000  1948.000000          NaN  1948.000000    2.000
...                       ...          ...          ...          ...      ...
8000000.0   Ward 2   5.000000  2003.000000          NaN  2003.000000      NaN
8100000.0   Ward 2   9.000000  1928.000000  2017.000000  2000.000000    2.750
8243685.0   Ward 3   1.000000  1989.000000  2005.000000  1989.000000      NaN
8375000.0   Ward 3   7.000000  1930.000000  2007.000000  2006.000000    3.000
8400000.0   Ward 3   4.000000  1928.000000  2017.000000  1928.000000      NaN
8450000.0   Ward 2   7.000000  1914.500000  2008.000000  2000.000000    3.375
8500000.0   Ward 2   9.000000  1911.000000  2008.000000  1998.000000    4.000
8600000.0   Ward 2   9.000000  1870.000000  2014.000000  1998.000000    3.250
9000000.0   Ward 2   6.000000  1926.000000  2015.000000  2000.000000    3.000
9100000.0   Ward 3   6.000000  1925.000000  2014.000000  1995.000000    2.500
10400000.0  Ward 3   7.000000  1930.000000  2001.000000  2000.000000    3.000
10750000.0  Ward 3   7.000000  1927.000000  2011.000000  2000.000000    2.750
11000000.0  Ward 6   0.000000  1900.000000          NaN  1943.000000    2.000
            Ward 7   4.000000  1943.000000  2002.000000  1964.000000    2.000
11111111.0  Ward 2   8.000000  1941.000000  2013.000000  2000.000000    3.000
11984000.0  Ward 2   6.000000  1961.000000  2005.000000  2004.000000    4.000
12250000.0  Ward 3   9.000000  2008.000000          NaN  2016.000000    2.000
12780000.0  Ward 1   1.015873  1944.000000          NaN  1944.000000      NaN
14000000.0  Ward 3   6.000000  1962.000000  1995.000000  2003.000000    3.000
14157126.0  Ward 2   2.500000  1980.000000  2006.000000  1980.000000      NaN
15000000.0  Ward 3   7.000000  1986.000000  2014.000000  2010.000000    2.000
16100000.0  Ward 2   9.000000  1805.000000  2013.000000  2000.000000    3.000
18000000.0  Ward 3   7.000000  1994.000000          NaN  2012.000000    2.500
22000000.0  Ward 2   9.000000  1801.000000  2013.000000  1986.000000    2.500
23960287.0  Ward 2  12.000000  1805.000000  2004.000000  2000.000000    2.750
25000000.0  Ward 8   0.000000  2004.000000          NaN  2004.000000    0.000
25100000.0  Ward 8   0.000000  2002.000000          NaN  2007.000000    1.000
53696391.0  Ward 2   1.000000  1963.000000  2006.000000  1963.000000      NaN
53969391.0  Ward 2   0.966102  1963.000000  2006.000000  1963.000000      NaN
137427545.0 Ward 3   0.946281  1986.322314  2005.000000  1986.322314      NaN

                      ...        USECODE       LANDAREA    CMPLX_NUM  \
PRICE       WARD      ...
1.0         Ward 3    ...      17.000000     543.500000  2158.000000
            Ward 5    ...      12.000000    4400.000000          NaN
            Ward 6    ...      17.000000      93.000000  2871.000000
            Ward 8    ...      23.000000    7811.000000          NaN
10.0        Ward 1    ...      11.000000    1031.000000          NaN
            Ward 2    ...      23.000000    2400.000000          NaN
            Ward 5    ...      11.000000    3323.000000          NaN
            Ward 7    ...      11.000000    1264.000000          NaN
250.0       Ward 1    ...      16.000000    2198.800000          NaN
            Ward 4    ...      11.000000    2555.000000          NaN
            Ward 5    ...      17.500000    1836.000000          NaN
            Ward 6    ...      15.000000    1199.000000          NaN
            Ward 7    ...      12.000000    2787.500000          NaN
            Ward 8    ...      13.000000    2216.000000          NaN
500.0       Ward 1    ...      17.500000    1378.500000          NaN
            Ward 5    ...      24.000000    1800.000000          NaN
            Ward 6    ...      24.000000    2031.000000          NaN
936.0       Ward 6    ...      11.000000    1398.000000          NaN
1000.0      Ward 3    ...      16.500000     688.500000  1073.000000
            Ward 5    ...      11.000000    1115.000000          NaN
            Ward 7    ...      12.000000    2539.000000          NaN
            Ward 8    ...      23.000000    4224.000000          NaN
1377.0      Ward 1    ...      11.000000    1360.000000          NaN
2000.0      Ward 2    ...      16.000000     113.000000  2128.000000
            Ward 7    ...      13.000000    2840.000000          NaN
3000.0      Ward 4    ...      17.000000     329.000000  3121.000000
            Ward 7    ...      12.000000    9860.000000          NaN
3270.0      Ward 2    ...      17.000000     151.000000  2152.000000
3523.0      Ward 8    ...      16.000000    1686.000000  1292.000000
3997.0      Ward 7    ...      11.000000    1786.000000          NaN
...                   ...            ...            ...          ...
8000000.0   Ward 2    ...      16.000000    1788.000000  2571.000000
8100000.0   Ward 2    ...      12.000000   11915.000000          NaN
8243685.0   Ward 3    ...      17.000000     263.000000  1658.000000
8375000.0   Ward 3    ...      12.000000   14512.000000          NaN
8400000.0   Ward 3    ...      17.000000    4306.000000  5431.000000
8450000.0   Ward 2    ...      11.500000    8848.000000          NaN
8500000.0   Ward 2    ...      12.000000   26580.000000          NaN
8600000.0   Ward 2    ...      11.000000    9300.000000          NaN
9000000.0   Ward 2    ...      12.000000   10018.000000          NaN
9100000.0   Ward 3    ...      12.000000   47850.000000          NaN
10400000.0  Ward 3    ...      12.000000   13203.000000          NaN
10750000.0  Ward 3    ...      12.000000   43893.000000          NaN
11000000.0  Ward 6    ...      11.000000     817.000000          NaN
            Ward 7    ...      23.000000    3810.000000          NaN
11111111.0  Ward 2    ...      12.000000   12749.000000          NaN
11984000.0  Ward 2    ...      11.000000    5577.000000          NaN
12250000.0  Ward 3    ...      12.000000   16525.000000          NaN
12780000.0  Ward 1    ...      16.000000     299.047619  5005.000000
14000000.0  Ward 3    ...      12.000000   16891.000000          NaN
14157126.0  Ward 2    ...      16.000000    1231.000000  2754.000000
15000000.0  Ward 3    ...      12.000000   23541.000000          NaN
16100000.0  Ward 2    ...      12.000000   16353.000000          NaN
18000000.0  Ward 3    ...      12.000000   35240.000000          NaN
22000000.0  Ward 2    ...      12.000000  155905.000000          NaN
23960287.0  Ward 2    ...      24.000000   68880.000000          NaN
25000000.0  Ward 8    ...      19.000000   21017.000000          NaN
25100000.0  Ward 8    ...      19.000000   63109.000000          NaN
53696391.0  Ward 2    ...      17.000000     117.000000  3100.000000
53969391.0  Ward 2    ...      17.000000     142.516949  3100.000000
137427545.0 Ward 3    ...      16.330579     678.438017  1657.330579

                     LIVING_GBA  ZIPCODE   LATITUDE  LONGITUDE  CENSUS_TRACT  \
PRICE       WARD
1.0         Ward 3  1521.000000  20008.0  38.945739 -77.064581   1251.000000
            Ward 5          NaN  20018.0  38.939251 -76.974987   9400.000000
            Ward 6   670.000000  20001.0  38.900439 -77.015750   4702.000000
            Ward 8          NaN  20032.0  38.821888 -77.006997  10900.000000
10.0        Ward 1          NaN  20010.0  38.930664 -77.025854   3100.000000
            Ward 2          NaN  20007.0  38.910298 -77.059889    100.000000
            Ward 5          NaN  20002.0  38.908037 -76.988203   8804.000000
            Ward 7          NaN  20019.0  38.894403 -76.957736   9604.000000
250.0       Ward 1          NaN  20007.8  38.927697 -77.030913   3240.200000
            Ward 4          NaN  20011.0  38.957083 -77.028415   2002.000000
            Ward 5          NaN  20001.0  38.919176 -77.011467   3301.000000
            Ward 6          NaN  20002.0  38.900603 -76.989803   8970.333333
            Ward 7          NaN  20019.0  38.881121 -76.937153   7705.000000
            Ward 8          NaN  20020.0  38.864429 -76.988259   7503.000000
500.0       Ward 1          NaN  20001.0  38.921290 -77.021295   3450.000000
            Ward 5          NaN  20001.0  38.916808 -77.011432   3301.000000
            Ward 6          NaN  20001.0  38.906504 -77.010773   4701.000000
936.0       Ward 6          NaN  20001.0  38.909843 -77.020603   4801.000000
1000.0      Ward 3   566.500000  20012.0  38.942014 -77.069016   1152.000000
            Ward 5          NaN  20017.0  38.932222 -76.993875   9301.000000
            Ward 7          NaN  20019.0  38.901337 -76.921948   7807.000000
            Ward 8          NaN  20020.0  38.865880 -76.983134   7504.000000
1377.0      Ward 1          NaN  20009.0  38.915094 -77.029890   4400.000000
2000.0      Ward 2   199.000000  20009.0  38.911719 -77.039830   5301.000000
            Ward 7          NaN  20020.0  38.872216 -76.966103   7709.000000
3000.0      Ward 4   835.000000  20011.0  38.960701 -77.028815   2002.000000
            Ward 7          NaN  20019.0  38.900308 -76.937470   7809.000000
3270.0      Ward 2   701.000000  20036.0  38.909443 -77.039693   5301.000000
3523.0      Ward 8   614.000000  20032.0  38.826826 -77.010664   9807.000000
3997.0      Ward 7          NaN  20019.0  38.879583 -76.963324   7709.000000
...                         ...      ...        ...        ...           ...
8000000.0   Ward 2  6145.000000  20007.0  38.903571 -77.061655    100.000000
8100000.0   Ward 2          NaN  20008.0  38.918225 -77.054548   4100.000000
8243685.0   Ward 3   678.000000  20016.0  38.936070 -77.073946   1002.000000
8375000.0   Ward 3          NaN  20008.0  38.924611 -77.063005    400.000000
8400000.0   Ward 3  4403.000000  20008.0  38.924504 -77.055681    501.000000
8450000.0   Ward 2          NaN  20008.5  38.915089 -77.047512   4151.000000
8500000.0   Ward 2          NaN  20007.0  38.911149 -77.058009    100.000000
8600000.0   Ward 2          NaN  20007.0  38.908282 -77.061014    100.000000
9000000.0   Ward 2          NaN  20008.0  38.916820 -77.054452   4100.000000
9100000.0   Ward 3          NaN  20008.0  38.952956 -77.064558   1301.000000
10400000.0  Ward 3          NaN  20008.0  38.918636 -77.062791    400.000000
10750000.0  Ward 3          NaN  20008.0  38.921225 -77.057678    400.000000
11000000.0  Ward 6          NaN  20024.0  38.874456 -77.009873   6400.000000
            Ward 7          NaN  20019.0  38.883794 -76.955798   7703.000000
11111111.0  Ward 2          NaN  20007.0  38.913485 -77.064529    100.000000
11984000.0  Ward 2          NaN  20036.0  38.907835 -77.039134  10700.000000
12250000.0  Ward 3          NaN  20008.0  38.919714 -77.059062    400.000000
12780000.0  Ward 1   682.888889  20009.0  38.926161 -77.035143   3700.000000
14000000.0  Ward 3          NaN  20008.0  38.921208 -77.054999    400.000000
14157126.0  Ward 2  1918.500000  20007.0  38.906620 -77.064330    202.000000
15000000.0  Ward 3          NaN  20008.0  38.920213 -77.058898    400.000000
16100000.0  Ward 2          NaN  20007.0  38.911721 -77.062194    100.000000
18000000.0  Ward 3          NaN  20008.0  38.954550 -77.064497   1301.000000
22000000.0  Ward 2          NaN  20007.0  38.911670 -77.056612    100.000000
23960287.0  Ward 2          NaN  20007.0  38.910188 -77.062936    100.000000
25000000.0  Ward 8          NaN  20032.0  38.828575 -76.996221   9811.000000
25100000.0  Ward 8          NaN  20020.0  38.862163 -76.971950   7502.000000
53696391.0  Ward 2   570.000000  20005.0  38.904456 -77.031057  10100.000000
53969391.0  Ward 2   696.084746  20005.0  38.904456 -77.031057  10100.000000
137427545.0 Ward 3   671.557851  20016.0  38.937055 -77.074769   1002.000000

                            X          Y
PRICE       WARD
1.0         Ward 3 -77.064584  38.945746
            Ward 5 -76.975204  38.938986
            Ward 6 -77.015752  38.900447
            Ward 8 -77.006347  38.821799
10.0        Ward 1 -77.025325  38.930483
            Ward 2 -77.060458  38.909944
            Ward 5 -76.987913  38.907414
            Ward 7 -76.958566  38.894007
250.0       Ward 1 -77.030873  38.927847
            Ward 4 -77.028896  38.956821
            Ward 5 -77.010792  38.919277
            Ward 6 -76.989634  38.900515
            Ward 7 -76.936582  38.880597
            Ward 8 -76.989188  38.864200
500.0       Ward 1 -77.020642  38.921539
            Ward 5 -77.010980  38.916722
            Ward 6 -77.010702  38.906507
936.0       Ward 6 -77.020725  38.910531
1000.0      Ward 3 -77.069018  38.942022
            Ward 5 -76.993501  38.932031
            Ward 7 -76.921581  38.901396
            Ward 8 -76.982707  38.866051
1377.0      Ward 1 -77.030583  38.915053
2000.0      Ward 2 -77.039833  38.911727
            Ward 7 -76.965701  38.872249
3000.0      Ward 4 -77.028817  38.960708
            Ward 7 -76.937618  38.900838

In [68]:
df[dupe]

Empty DataFrame
Columns: [Unnamed: 0, BATHRM, HF_BATHRM, HEAT, AC, NUM_UNITS, ROOMS, BEDRM, AYB, YR_RMDL, EYB, STORIES, SALEDATE, PRICE, QUALIFIED, SALE_NUM, GBA, BLDG_NUM, STYLE, STRUCT, GRADE, CNDTN, EXTWALL, ROOF, INTWALL, KITCHENS, FIREPLACES, USECODE, LANDAREA, GIS_LAST_MOD_DTTM, SOURCE, CMPLX_NUM, LIVING_GBA, FULLADDRESS, CITY, STATE, ZIPCODE, NATIONALGRID, LATITUDE, LONGITUDE, ASSESSMENT_NBHD, ASSESSMENT_SUBNBHD, CENSUS_TRACT, CENSUS_BLOCK, WARD, SQUARE, X, Y, QUADRANT, lettergrade]
Index: []

[0 rows x 50 columns]

In [49]:
df['ROOMS'].unique()

array([ 8, 11,  9, 10,  5,  7,  6, 12, 16, 14, 13,  4, 15, 18, 20, 19, 17,
        0,  3, 21, 25, 23,  2,  1, 31, 41, 27, 39, 22, 32, 28, 48, 37, 34,
       26, 24, 40, 29, 35, 30], dtype=int64)

In [69]:
df[hi]

KeyError: '[ 1095000.       nan  2100000. ...,   915500.   908500.   485355.] not in index'

In [71]:
location = "datasets/smallgradesh.csv"
df = pd.read_csv(location)


df[dupe]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

Empty DataFrame
Columns: [Name, Grade]
Index: []

In [72]:
df['PRICE'].dtypes

KeyError: 'PRICE'

In [52]:
df['PRICE'].dtypes

KeyError: 'PRICE'

In [73]:
location = "datasets/DC_Properties.csv"
df = pd.read_csv(location)


df[dupe]

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Empty DataFrame
Columns: [Unnamed: 0, BATHRM, HF_BATHRM, HEAT, AC, NUM_UNITS, ROOMS, BEDRM, AYB, YR_RMDL, EYB, STORIES, SALEDATE, PRICE, QUALIFIED, SALE_NUM, GBA, BLDG_NUM, STYLE, STRUCT, GRADE, CNDTN, EXTWALL, ROOF, INTWALL, KITCHENS, FIREPLACES, USECODE, LANDAREA, GIS_LAST_MOD_DTTM, SOURCE, CMPLX_NUM, LIVING_GBA, FULLADDRESS, CITY, STATE, ZIPCODE, NATIONALGRID, LATITUDE, LONGITUDE, ASSESSMENT_NBHD, ASSESSMENT_SUBNBHD, CENSUS_TRACT, CENSUS_BLOCK, WARD, SQUARE, X, Y, QUADRANT]
Index: []

[0 rows x 49 columns]

In [63]:
df['PRICE'].dtypes

dtype('float64')

In [64]:
#Define bins as 0-590, 600-690, 700-790, 800-890, 900-19000
bins = [0, 600000, 700000, 800000, 900000, 1900000]

# Create names for the four groups
group_names = ['F', 'D', 'C', 'B', 'A']

In [65]:
#make new column with letter grades
df['lettergrade'] = pd.cut(df['PRICE'], bins, labels=group_names)
df.head()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT,lettergrade
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,A
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,NaN
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,NaN
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,A
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,NaN

In [61]:
pd.value_counts(df['lettergrade']) # number of observations per letter grade

A    155
F     27
B      0
C      0
D      0
Name: lettergrade, dtype: int64